external/fpml/5.13/reporting/fpml-valuation-reporting-5-13.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2022-2025 All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/reporting" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/FpML-5/reporting" ecore:documentRoot="FpML" ecore:nsPrefix="rpt" ecore:package="org.fpml.reporting" version="$Revision: 8571 $" xml:lang="en" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-msg-5-13.xsd" />
  <xsd:include schemaLocation="fpml-valuation-5-13.xsd" />
  <xsd:complexType name="PortfolioValuationItem">
    <xsd:annotation>
      <xsd:documentation>A type used in valuation enquiry messages which relates a portfolio to its trades and current value.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="portfolio" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Portfolio identifier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Zero or more trade valuation items.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="valuationSet" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The portfolio valuation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestValuationReport">
    <xsd:annotation>
      <xsd:documentation>A type defining the content model for a message allowing one party a report containing valuations of one or many existing trades.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="reportContents" type="ReportContents" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The specific characteristics to be included in the report.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The date for which this report is requested.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
          <xsd:element ref="market" minOccurs="0" />
          <xsd:element name="portfolioValuationItem" type="PortfolioValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>An instance of a unique portfolio valuation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>An instance of a unique trade valuation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReportContents">
    <xsd:annotation>
      <xsd:documentation>A type used to describe the scope/contents of a report.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The party for which this report was generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountReference" type="AccountReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The account for which this report was generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="category" type="TradeCategory" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Used to categorize trades into user-defined categories, such as house trades vs. customer trades.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice minOccurs="0">
        <xsd:element name="assetClass" type="AssetClass" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>A classification of the risk class of the trade. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence>
          <xsd:element name="primaryAssetClass" type="AssetClass" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A classification of the most important risk class of the trade. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="secondaryAssetClass" type="AssetClass" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A classification of additional risk classes of the trade, if any. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="productType" type="ProductType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A classification of the type of product. FpML defines a simple product categorization using a coding scheme.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="queryPortfolio" type="QueryPortfolio" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The desired query portfolio.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reportingRegime" type="ReportingRegimeIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>The regulatory reporting regime for which this report contains information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeValuationItem">
    <xsd:annotation>
      <xsd:documentation>A type used in trade valuation enquiry messages which relates a trade identifier to its current value.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:sequence>
          <xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more trade identifiers needed to uniquely identify a trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="relatedParty" type="RelatedParty" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>This may be used to identify one or more parties that perform a role within the transaction. If this is within a partyTradeInformation block, the related party performs the role with respect to the party identifie by the "partyReference" in the partyTradeInformation block.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:element name="trade" type="Trade">
          <xsd:annotation>
            <xsd:documentation>Fully-described trades whose values are reported.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element ref="valuationSet" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The trade valuation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValuationReport">
    <xsd:annotation>
      <xsd:documentation>A type defining the content model for a message normally generated in response to a RequestValuationReport request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="reportIdentification" type="ReportIdentification" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Identifiers for the report instance and section.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="reportContents" type="ReportContents" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The specific characteristics included in the report.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The date for which this request was create.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asOfTime" type="xsd:time" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The time within the as-of date for which this report was created (i.e., the cut-off time of the report).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="generatedDateTime" type="xsd:dateTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The time this report was actually generated (i.e., the processing time of the report). This value, if present, will be no later than the message created time, and no earlier than any timestamp within a trade valuation item.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
          <xsd:element ref="market" minOccurs="0" />
          <xsd:element name="portfolioValuationItem" type="PortfolioValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>An instance of a unique portfolio valuation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>A collection of data values describing the state of the given trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ValuationReportRetracted">
    <xsd:annotation>
      <xsd:documentation>A type defining the content model for a message that retracts a valuation report. This says that the most recently supplied valuation is erroneous and a previous value should be used.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="reportIdentification" type="ReportIdentification" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Identifiers for the report instance and section.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="reportContents" type="ReportContents" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The specific characteristics included in the report.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The date for which this request was generated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more trade identifiers needed to uniquely identify a trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="partyTradeInformation" type="PartyTradeInformationSimple" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Holds party-specific information about the trade that is being retracted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="portfolio" type="Portfolio">
    <xsd:annotation>
      <xsd:documentation>Global portfolio element used as a basis for a substitution group.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="queryPortfolio" type="QueryPortfolio" substitutionGroup="portfolio">
    <xsd:annotation>
      <xsd:documentation>Global element used to substitute for "portfolio".</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:annotation>
    <xsd:documentation>Reporting messages.</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="requestValuationReport" type="RequestValuationReport" />
  <xsd:element name="valuationReport" type="ValuationReport" />
  <xsd:element name="valuationReportRetracted" type="ValuationReportRetracted" />
  <xsd:element name="valuationReportAcknowledgement" type="Acknowledgement" />
  <xsd:element name="valuationReportException" type="Exception" />
</xsd:schema>

