external/iso20022/schemas/Authorities/auth.114.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R2.4.0) on 2025 Apr 23 11:29:18, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.114.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.114.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ClassificationType4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="LglFrmwk" type="ExternalLegalFramework1Code"/>
            <xs:element name="InfTp" type="ExternalRegulatoryInformationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RgltryMetadataRpt" type="RegulatoryMetadataReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document26">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlOrTrnsltd" type="LanguageVersion1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max2048Text"/>
            <xs:element name="Ref" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncSealRef" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdIdr" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnTp" type="TransactionOperationType13Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdNtty" type="PartyIdentification260Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RgltryDataTp" type="ClassificationType4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vlntry" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstrclData" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlData" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PblctnPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HomeCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="HstCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdPdctIdr" type="SecurityIdentification49"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DocRef" type="Document26"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdRgltryData" type="GenericIdentification190"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataRcrd" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEntitySize1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEntityType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalIndustrySectorClassification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLegalFramework1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalRegulatoryInformationType1Code">
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification185">
        <xs:sequence>
            <xs:element name="Id" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification190">
        <xs:sequence>
            <xs:element name="Id" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndustrySector3Choice">
        <xs:choice>
            <xs:element name="RgltryTxnmySctr" type="ExternalIndustrySectorClassification1Code"/>
            <xs:element name="NACETxnmySctr" type="NACEDomain2025Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageVersion1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetadataReport5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgNtty" type="PartyIdentification260Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnBody" type="GenericIdentification175"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdNtty" type="PartyIdentification260Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdPdctIdr" type="SecurityIdentification49"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RgltryDataTp" type="ClassificationType4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RgltryData" type="Document28"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NACEDomain2025Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-V]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NPIIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrsnNm" type="Max500Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NPI" type="NPIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttySz" type="ExternalEntitySize1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="IndustrySector3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyTp" type="ExternalEntityType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification49">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrgNm" type="PartyName5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnOrgId" type="GenericOrganisationIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttySz" type="ExternalEntitySize1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="IndustrySector3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrsnNm" type="Max500Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NPI" type="NPIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyTp" type="ExternalEntityType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification260Choice">
        <xs:choice>
            <xs:element name="LglPrsn" type="OrganisationIdentification49"/>
            <xs:element name="NtrlPrsn" type="NaturalPersonIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyName5">
        <xs:sequence>
            <xs:element name="Val" type="Max500Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrnl" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RegulatoryMetadataReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MetadataRpt" type="MetadataReport5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification49">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqPdctIdr" type="UniqueProductIdentifier2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrntvInstrmId" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctDesc" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="EROR"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="NEWT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="UniqueProductIdentifier2Choice">
        <xs:choice>
            <xs:element name="Id" type="Max52Text"/>
            <xs:element name="Prtry" type="GenericIdentification185"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
