external/iso20022/schemas/Authorities/auth.059.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2025 Mar 04 14:47:48, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.059.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.059.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection102">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CCPIncomeStatementAndCapitalAdequacyReportV02">
        <xs:sequence>
            <xs:element name="IncmStmt" type="IncomeStatement2"/>
            <xs:element name="CptlRqrmnts" type="CapitalRequirement1"/>
            <xs:element name="TtlCptl" type="ActiveCurrencyAndAmount"/>
            <xs:element name="LqdFinRsrcs" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="HpthtclCptlMeasr" type="HypotheticalCapitalMeasure1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CapitalRequirement1">
        <xs:sequence>
            <xs:element name="WndgDwnOrRstrgRsk" type="ActiveCurrencyAndAmount"/>
            <xs:element name="OprlAndLglRsk" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtRsk" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CntrPtyRsk" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MktRsk" type="ActiveCurrencyAndAmount"/>
            <xs:element name="BizRsk" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnBffr" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingMemberFee1">
        <xs:sequence>
            <xs:element name="ClrMmbId" type="PartyIdentification118Choice"/>
            <xs:element name="ClrFee" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPIncmStmtAndCptlAdqcyRpt" type="CCPIncomeStatementAndCapitalAdequacyReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification168">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HypotheticalCapitalMeasure1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="DfltWtrfllId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IncomeStatement2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ClrMmbFee" type="ClearingMemberFee1"/>
            <xs:element name="OthrOprgRvn" type="ActiveCurrencyAndAmount"/>
            <xs:element name="OprgExpnss" type="ActiveCurrencyAndAmount"/>
            <xs:element name="OprgPrftOrLoss" type="AmountAndDirection102"/>
            <xs:element name="NetIntrstIncm" type="ActiveCurrencyAndAmount"/>
            <xs:element name="OthrNonOprgRvn" type="ActiveCurrencyAndAmount"/>
            <xs:element name="NonOprgExpnss" type="ActiveCurrencyAndAmount"/>
            <xs:element name="PreTaxPrftOrLoss" type="AmountAndDirection102"/>
            <xs:element name="PstTaxPrftOrLoss" type="AmountAndDirection102"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification118Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification168"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
