external/iso20022/schemas/Authorities/auth.064.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2025 Mar 04 14:47:48, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.064.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.064.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AvailableFinancialResourcesAmount2">
        <xs:sequence>
            <xs:element name="TtlInitlMrgn" type="ActiveCurrencyAndAmount"/>
            <xs:element name="TtlPrfnddDfltFnd" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CCPSkinInTheGame" type="ReportingAssetBreakdown2"/>
            <xs:element name="OthrDfltFndCntrbtn" type="ActiveCurrencyAndAmount"/>
            <xs:element name="UfnddMmbCmmtmnt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="UfnddThrdPtyCmmtmnt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCPAvailableFinancialResourcesReportV02">
        <xs:sequence>
            <xs:element name="AvlblFinRsrcsAmt" type="AvailableFinancialResourcesAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPrfnddRsrcs" type="ReportingAssetBreakdown2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DebtIssuerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="MUNI"/>
            <xs:enumeration value="SPVS"/>
            <xs:enumeration value="SUPR"/>
            <xs:enumeration value="SVGN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPAvlblFinRsrcsRpt" type="CCPAvailableFinancialResourcesReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="EQUI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportingAssetBreakdown2">
        <xs:sequence>
            <xs:element name="RptgAsstTp" type="ProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DebtIssrTp" type="DebtIssuerType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max350Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
