external/iso20022/schemas/ForeignExchangeTrade/fxtr.034.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2025 Feb 20 10:44:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.034.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.034.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate3">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearingMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRNE"/>
            <xs:enumeration value="NEMA"/>
            <xs:enumeration value="NENE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConfirmationRequest1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="CNRR"/>
            <xs:enumeration value="STAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat45Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="NotSpcfdDt" type="DateType8Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradConfReq" type="ForeignExchangeTradeConfirmationRequestV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeConfirmationRequestV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header23"/>
            <xs:element name="ReqId" type="MessageIdentification1"/>
            <xs:element name="TradDtl" type="Trade9"/>
            <xs:element name="ConfTp" type="ConfirmationRequest1Code"/>
            <xs:element name="QryPrd" type="Period12"/>
            <xs:element name="QryStartNb" type="Max35NumericText"/>
            <xs:element name="QryTradSts" type="QueryTradeStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header23">
        <xs:sequence>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element name="MsgSeqNb" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IdentificationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDCO"/>
            <xs:enumeration value="CFET"/>
            <xs:enumeration value="RICC"/>
            <xs:enumeration value="USDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstrumentLeg7">
        <xs:sequence>
            <xs:element name="LegSd" type="Side1Code"/>
            <xs:element name="LegSttlmTp" type="SettlementDate8Code"/>
            <xs:element name="LegSttlmDt" type="ISODateTime"/>
            <xs:element name="LegLastPric" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="LegSttlmCcy" type="ActiveCurrencyCode"/>
            <xs:element name="LegOrdrQty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="LegFwdPts" type="DecimalNumber"/>
            <xs:element name="LegClctdCtrPtyCcyLastQty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="LegRskAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="LegValtnRate" type="AgreedRate3"/>
            <xs:element name="LegValDt" type="ISODate"/>
            <xs:element name="LegCcy" type="ActiveCurrencyCode"/>
            <xs:element name="LegSymb" type="Max35Text"/>
            <xs:element name="LegSctyId" type="SecurityIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period12">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat45Choice"/>
            <xs:element name="EndDt" type="DateFormat45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryTradeStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QAST"/>
            <xs:enumeration value="QCTR"/>
            <xs:enumeration value="QCIR"/>
            <xs:enumeration value="QETR"/>
            <xs:enumeration value="QNTR"/>
            <xs:enumeration value="QRTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification18">
        <xs:sequence>
            <xs:element name="SctyIdSrc" type="IdentificationType2Code"/>
            <xs:element name="SctyId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification38Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrnId" type="AlternateIdentification1"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="ENDC"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CLEA"/>
            <xs:enumeration value="MONT"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="PRVD"/>
            <xs:enumeration value="REGU"/>
            <xs:enumeration value="SAVE"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="TBAT"/>
            <xs:enumeration value="TFIV"/>
            <xs:enumeration value="TFOR"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="TTRE"/>
            <xs:enumeration value="TTWO"/>
            <xs:enumeration value="WHIF"/>
            <xs:enumeration value="WDIS"/>
            <xs:enumeration value="WISS"/>
            <xs:enumeration value="WHID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Side1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="TWOS"/>
            <xs:enumeration value="BUMI"/>
            <xs:enumeration value="SEPL"/>
            <xs:enumeration value="SESH"/>
            <xs:enumeration value="SSEX"/>
            <xs:enumeration value="CROS"/>
            <xs:enumeration value="CRSH"/>
            <xs:enumeration value="CSHE"/>
            <xs:enumeration value="DEFI"/>
            <xs:enumeration value="OPPO"/>
            <xs:enumeration value="UNDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Trade10">
        <xs:sequence>
            <xs:element name="ExctnPric" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="LastQty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="SttlmTp" type="SettlementDate8Code"/>
            <xs:element name="SttlmDt" type="ISODate"/>
            <xs:element name="ValtnRate" type="AgreedRate3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FwdPts" type="DecimalNumber"/>
            <xs:element name="ClctdCtrPtyCcyLastQty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="ValDt" type="ISODate"/>
            <xs:element name="RskAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="SctyId" type="SecurityIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxgCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DltaInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdTradRef" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Trade9">
        <xs:sequence>
            <xs:element name="TradId" type="Max35Text"/>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="FXTradPdct" type="UnderlyingProductIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgMtd" type="TradingMethodType1Code"/>
            <xs:element name="TradgMd" type="TradingModeType1Code"/>
            <xs:element name="ClrMtd" type="ClearingMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Symb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfConf" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="Trade10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SwpLeg" type="InstrumentLeg7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctId" type="SecurityIdentification38Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdTradRef" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingMethodType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BITR"/>
            <xs:enumeration value="CERB"/>
            <xs:enumeration value="CUMA"/>
            <xs:enumeration value="LIOR"/>
            <xs:enumeration value="NETR"/>
            <xs:enumeration value="ONCT"/>
            <xs:enumeration value="QUAU"/>
            <xs:enumeration value="TEAU"/>
            <xs:enumeration value="ANCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingModeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QUDR"/>
            <xs:enumeration value="ORDR"/>
            <xs:enumeration value="NETR"/>
            <xs:enumeration value="AUCT"/>
            <xs:enumeration value="MARC"/>
            <xs:enumeration value="BILA"/>
            <xs:enumeration value="ANON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="NDFO"/>
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SWAP"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
