external/iso20022/schemas/SecuritiesManagement/semt.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R2.4.6) on 2025 Sep 30 10:56:43, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.028.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.028.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountRangeBoundary1">
        <xs:sequence>
            <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Incl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeSearch5Choice">
        <xs:choice>
            <xs:element name="Dt" type="DatePeriodSearch1Choice"/>
            <xs:element name="DtTm" type="DateTimeSearch2Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodSearch1Choice">
        <xs:choice>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="DatePeriod2"/>
            <xs:element name="EQDt" type="ISODate"/>
            <xs:element name="NEQDt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeSearch2Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
            <xs:element name="EQDtTm" type="ISODateTime"/>
            <xs:element name="NEQDtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraPosMvmntQry" type="IntraPositionMovementQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantitySearch2">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAmountRange1Choice"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAmountRange1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantitySearch2Choice">
        <xs:choice>
            <xs:element name="Unit" type="QuantityRange1Choice"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAmountRange1Choice"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAmountRange1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FromToAmountRange1">
        <xs:sequence>
            <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
            <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToQuantityRange1">
        <xs:sequence>
            <xs:element name="FrQty" type="QuantityRangeBoundary1"/>
            <xs:element name="ToQty" type="QuantityRangeBoundary1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ImpliedCurrencyAmountRange1Choice">
        <xs:choice>
            <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
            <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
            <xs:element name="FrToAmt" type="FromToAmountRange1"/>
            <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntraPositionMovementQueryV01">
        <xs:sequence>
            <xs:element name="QryDef" type="IntraPositionQueryDefinition8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionQueryCriteria8">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Refs" type="References82Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="IntraPositionQueryStatus3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SfkpgAcctOwnr" type="SystemPartyIdentification8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalTp" type="IntraPositionType2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesSubBalId" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmQty" type="QuantitySearch2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldQty" type="QuantitySearch2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntnddSttlmDt" type="DateAndDateTimeSearch5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvSttlmDt" type="DateAndDateTimeSearch5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prty" type="PriorityNumeric4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtryOfIsse" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgOrgtr" type="SystemPartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeSearch5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionQueryDefinition8">
        <xs:sequence>
            <xs:element name="QryTp" type="MovementResponseType1Code"/>
            <xs:element name="SchCrit" type="IntraPositionQueryCriteria8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionQueryStatus3">
        <xs:sequence>
            <xs:element name="Tp" type="IntraPositionStatusType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtPrd" type="DateAndDateTimeSearch5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionStatusType2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrcgSts" type="ProcessingStatus68Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmSts" type="SettlementStatus26Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionType2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BalFr" type="SecuritiesSubBalanceTypeAndQuantityBreakdown3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTo" type="SecuritiesSubBalanceTypeAndQuantityBreakdown3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MovementResponseType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="STTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric4Choice">
        <xs:choice>
            <xs:element name="Nmrc" type="Exact4NumericText"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus68Choice">
        <xs:choice>
            <xs:element name="Cd" type="TransactionProcessingStatus3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSubBalTp" type="GenericIdentification30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityRange1Choice">
        <xs:choice>
            <xs:element name="FrQty" type="QuantityRangeBoundary1"/>
            <xs:element name="ToQty" type="QuantityRangeBoundary1"/>
            <xs:element name="FrToQty" type="FromToQuantityRange1"/>
            <xs:element name="EQQty" type="DecimalNumber"/>
            <xs:element name="NEQQty" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityRangeBoundary1">
        <xs:sequence>
            <xs:element name="Bdry" type="DecimalNumber"/>
            <xs:element name="Incl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantitySearch2Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantitySearch2Choice"/>
            <xs:element name="OrgnlAndCurFace" type="FinancialInstrumentQuantitySearch2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="References82Choice">
        <xs:choice>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyMktInfrstrctrTxId" type="Max35Text"/>
            <xs:element name="PrcrTxId" type="Max35Text"/>
            <xs:element name="PoolId" type="Max35Text"/>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="AWAS"/>
            <xs:enumeration value="AVAI"/>
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="BLOT"/>
            <xs:enumeration value="BLOV"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="COLA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="PECA"/>
            <xs:enumeration value="PEDA"/>
            <xs:enumeration value="PLED"/>
            <xs:enumeration value="REGO"/>
            <xs:enumeration value="RSTR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="UNRG"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="QUAS"/>
            <xs:enumeration value="LODE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesBalanceType11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SecuritiesSettlementStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSubBalanceTypeAndQuantityBreakdown3">
        <xs:sequence>
            <xs:element name="Tp" type="SecuritiesBalanceType6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown32"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus26Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesSettlementStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionProcessingStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="REPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
